<ion-content color="primary">
  <ion-grid>
    <ion-row>
      <ion-col size="4" style="position: relative; z-index: 1;">
        <ion-button class="back-button" (click)="goToPage('/main')">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" style="text-align: center; margin-top: 20px;">
        <img src="../../../../assets/img/logo-login.png">
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="login-form-container animate__animated animate__bounceIn">
    <div class="title">
      <h3 style="font-size: 30px; font-weight: bold;">Iniciar sesión</h3>
    </div>
    <div class="form-container">
      <form [formGroup]="loginForm">
        
        <input type="text" formControlName="email" class="auth-input" placeholder="&#xF0E0; Correo electrónico">
        
        <input type="password" formControlName="password" class="auth-input" placeholder="&#xF084; Contraseña">
        
        <div class="aditional-footer">
          <a [routerLink]="['/revocer-password']">Olvidé mi contraseña</a>
        </div>
        <button (click)="signIn()" class="auth-btn">Ingresar</button>
      </form>
      <div class="aditional-footer" style="margin-top: 10px;">
        <button class="auth-btn" [routerLink]="['register-types']">Registrarme</button>
      </div>
      <div class="aditional-footer">
        <p>O</p>
      </div>
      <div class="aditional-footer">
        <p>Iniciar con</p>
      </div>
      <div style="width: 100%; display: flex; flex-direction: column; align-items: center; margin-bottom: 20px;">
        <button class="aditional-login" (click)="signInWithFacebook()" style="font-size: 35px; color: rgb(67, 128, 207)">
          <i class="fab fa-facebook"></i>
        </button><br>
        <button class="aditional-login" (click)="signInWithGoogle()">
          <object data="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/32px-Google_%22G%22_Logo.svg.png"></object> 
        </button>
      </div>
    </div>
  </div>
  <div class="aditional-footer">
  </div>
</ion-content>
