.login-form-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .form-container{
        text-align: center;
        margin: 0 10px;
    }
}

.aditional-footer{
    position: relative;
    bottom: 0;
    width: 100%;
    a{
        color: white;
        text-decoration: none;
    }
}

.aditional-login{
    background-color: white;
    border-style: none;
    padding: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}