<ion-content color="primary">
  <ion-grid>
    <ion-row>
      <ion-col size="12" style="text-align: center;">
        <h1 style="font-size: 50px;">TicketsApp</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="login-form-container animate__animated animate__bounceIn">
    <div class="title">
      <h1 style="font-size: 30px; font-weight: bold;">Iniciar sesión</h1>
    </div>
    <div class="form-container">
      <form [formGroup]="loginForm">
        
        <input type="text" formControlName="email" class="auth-input" placeholder="&#xF0E0; Correo electrónico">
        
        <input type="password" formControlName="password" class="auth-input" placeholder="&#xF084; Contraseña">
        
        <button class="auth-btn">Entrar</button>
      </form>
    </div>
  </div>

  <div class="aditional-footer">
    <h4>¿No posees una cuenta?</h4>
    <button class="auth-btn" [routerLink]="['/register']">Registrarme</button>
  </div>
</ion-content>
