<ion-content color="primary">
  <ion-grid>
    <ion-row>
      <ion-col size="12" style="text-align: center;">
          <img src="../../../../assets/icon/Recurso12.png" height="200">
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="register-form-container animate__animated animate__bounceIn">
    <div class="form-container">
      <form [formGroup]="registerForm">

          <input type="text" formControlName="fullName" class="auth-input" [class]="isValidField('fullName')" placeholder="&#xF007; Nombre completo">
          <div *ngIf="isValidField('fullName') === 'invalid-field'">
            <p *ngIf="registerForm.get('fullName').errors?.required">Debes escribir tu nombre</p>
            <p *ngIf="registerForm.get('fullName').errors?.minlength">Debes escribir al menos 3 letras</p>
            <p *ngIf="registerForm.get('fullName').errors?.maxlength">Debes escribir menos de 50 letras</p>
          </div>
        
          <input type="text" formControlName="email" class="auth-input" [class]="isValidField('email')" placeholder="&#xF0E0; Correo electrónico">
          <div *ngIf="isValidField('email') === 'invalid-field'">
            <p *ngIf="registerForm.get('email').errors?.required">Debes escribir tu correo</p>
            <p *ngIf="registerForm.get('email').errors?.pattern">Debes escribir un correo válido</p>
          </div>

          <input type="password" formControlName="password" class="auth-input" [class]="verifyPasswords(null)" [class]="isValidField('password')" (ionChange)="verifyPasswords($event)" placeholder="&#xF084; Contraseña">
          <div *ngIf="isValidField('password') === 'invalid-field'">
            <p *ngIf="registerForm.get('password').errors?.required">Debes escribir tu contraseña</p>
            <p *ngIf="registerForm.get('password').errors?.minlength">Debes escribir al menos 8 carácteres</p>
            <p *ngIf="registerForm.get('password').errors?.maxlength">Debes escribir menos de 16 carácteres</p>
            <p *ngIf="registerForm.get('password').errors?.pattern">La contraseña debe contener 1 letra mayúscula y al menos 1 número</p>
          </div>

          <input type="password" formControlName="confirmPassword" class="auth-input" [class]="verifyPasswords(null)" [class]="isValidField('password')" (ionChange)="verifyPasswords($event)" placeholder="&#xF084; Repite la contraseña">
          <div *ngIf="isValidField('confirmPassword') === 'invalid-field'">
            <p *ngIf="registerForm.get('confirmPassword').errors?.required">Debes escribir tu contraseña</p>
            <p *ngIf="registerForm.get('confirmPassword').errors?.minlength">Debes escribir al menos 8 carácteres</p>
            <p *ngIf="registerForm.get('confirmPassword').errors?.maxlength">Debes escribir menos de 16 carácteres</p>
            <p *ngIf="registerForm.get('confirmPassword').errors?.pattern">La contraseña debe contener 1 letra mayúscula y al menos 1 número</p>
          </div>
          <p *ngIf="verifyPasswords(null) === 'invalid-field'">Las contraseñas no coinciden</p>

        <button class="auth-btn" (click)="registerUser()" [disabled]="registerForm.invalid || verifyPasswords(null) === 'invalid-field'">Registrarme</button><br>
        <button class="auth-btn" (click)="registerForm.reset()" [routerLink]="['/login']">Regresar</button>
      </form>
    </div>
  </div>
</ion-content>
