.register-form-container{
    height: 80vh;
    min-height: 1px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .form-container{
        text-align: center;
    }
}

.aditional-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}