ion-list{
    background: var(--ion-color-primary-contrast);
}

.photo-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background: var(--ion-color-primary);
    
    .profile{
        width: 200px;
        height: 200px;
        border-top-left-radius: 50% 50%;
        border-top-right-radius: 50% 50%;
        border-bottom-right-radius: 50% 50%;
        border-bottom-left-radius: 50% 50%;
    }
}

.user-display-name{
    text-align: center;
    font-size: 35px;
    color: var(--ion-color-primary);
    font-weight: bold;
    text-shadow: 3px 3px 10px gray;
}

.auth-btn{
    margin: 10px auto;
}
.auth-input{
    border-color: var(--ion-color-primary);
}

.centered-text{
    text-align: center;
}

.register-form-container{
    height: 60%;
    width: 100%;
    .form-container{
        text-align: center;
        margin: 0 10px;
    }
}