<ion-content color="primary">
  <div class="photo-container">
    <img class="profile" src="../../../../assets/img/user_icon.png" (click)="openChangePhotoPopover()" height="100" *ngIf="businessPhoto === undefined || businessPhoto === ''">
    <img [src]="businessPhoto" class="profile" alt="" (click)="openChangePhotoPopover()"  *ngIf="businessPhoto !== ''">
  </div>

  <div class="register-form-container animate__animated animate__bounceIn">
    <div class="form-container">
      <form [formGroup]="registerForm">

          <input type="text" formControlName="fullName" class="auth-input" [class]="isValidField('fullName')" placeholder="&#xF007; Nombre completo">
          <div *ngIf="isValidField('fullName') === 'invalid-field'">
            <p *ngIf="registerForm.get('fullName').errors?.required">Debes escribir tu nombre</p>
            <p *ngIf="registerForm.get('fullName').errors?.minlength">Debes escribir al menos 3 letras</p>
            <p *ngIf="registerForm.get('fullName').errors?.maxlength">Debes escribir menos de 50 letras</p>
          </div>

          <input type="text" formControlName="businessName" class="auth-input" [class]="isValidField('businessName')" placeholder="&#xF54E; Nombre del negocio">
          <div *ngIf="isValidField('businessName') === 'invalid-field'">
            <p *ngIf="registerForm.get('businessName').errors?.required">Debes escribir el nombre de tu negocio</p>
          </div>
          <app-map></app-map>
          
        <button class="auth-btn" (click)="registerUser()" [disabled]="registerForm.invalid">Guardar cambios</button><br>
        <button class="auth-btn" (click)="openChangePassword()">Cambiar contraseña</button><br>
        <button class="auth-btn" (click)="logOut()">Cerrar sesión</button>
      </form>
    </div>
  </div>
</ion-content>