<ion-content color="primary">
  <ion-grid>
    <ion-row>
      <ion-col size="12" style="text-align: center;">
          <img src="../../../../assets/img/user_icon.png" height="100" *ngIf="authService.userData.photoURL === undefined">
          <img class="profile" [src]="authService.userData.photoURL" alt="" *ngIf="authService.userData.photoURL !== undefined">
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="register-form-container animate__animated animate__bounceIn">
    <div class="form-container">
      <form [formGroup]="registerForm">

          <input type="text" formControlName="fullName" class="auth-input" [class]="isValidField('fullName')" placeholder="&#xF007; Nombre completo">
          <div *ngIf="isValidField('fullName') === 'invalid-field'">
            <p *ngIf="registerForm.get('fullName').errors?.required">Debes escribir tu nombre</p>
            <p *ngIf="registerForm.get('fullName').errors?.minlength">Debes escribir al menos 3 letras</p>
            <p *ngIf="registerForm.get('fullName').errors?.maxlength">Debes escribir menos de 50 letras</p>
          </div>

          <input type="text" formControlName="businessName" class="auth-input" [class]="isValidField('businessName')" placeholder="&#xF54E; Nombre del negocio">
          <div *ngIf="isValidField('businessName') === 'invalid-field'">
            <p *ngIf="registerForm.get('businessName').errors?.required">Debes escribir el nombre de tu negocio</p>
          </div>

          <app-map></app-map>

          <input type="text" formControlName="email" class="auth-input" [class]="isValidField('email')" placeholder="&#xF0E0; Correo electrónico">
          <div *ngIf="isValidField('email') === 'invalid-field'">
            <p *ngIf="registerForm.get('email').errors?.required">Debes escribir tu correo</p>
            <p *ngIf="registerForm.get('email').errors?.pattern">Debes escribir un correo válido</p>
          </div>
          
        <button class="auth-btn" (click)="registerUser()" [disabled]="registerForm.invalid">Guardar cambios</button><br>
        <button class="auth-btn" >Cambiar contraseña</button><br>
        <button class="auth-btn" >Cerrar sesión</button>
      </form>
    </div>
  </div>
</ion-content>