<ion-content>
  <div class="photo-container">
    <img class="profile" src="../../../../assets/icon/Recurso12.png" (click)="openChangePhotoPopover()" height="100" *ngIf="businessPhoto === undefined || businessPhoto === ''">
    <img [src]="businessPhoto" class="profile" alt="" (click)="openChangePhotoPopover()"  *ngIf="businessPhoto !== ''">
  </div>

  <ion-list *ngIf="!isEdit && user !== undefined" class="animate__animated animate__bounceIn">
    <ion-item lines="none" class="user-display-name">
      <ion-label>{{user.fullName}}</ion-label>
    </ion-item>
    <ion-item lines="none" class="user-display-name">
      <ion-label style="color: gray; font-weight: normal; font-size: 30px;">{{user.businessName}}</ion-label>
    </ion-item>
    <ion-item lines="none" class="centered-text">
      <ion-label><b>Correo</b>&nbsp;<span style="color: gray">{{user.email}}</span></ion-label>
    </ion-item>
    <ion-item lines="none" class="centered-text">
      <ion-label><b>Horario:</b>&nbsp;<span style="color: gray">{{user.openTime}} a {{user.closeTime}}</span></ion-label>
    </ion-item>
    <ion-item lines="none" class="centered-text">
      <button class="auth-btn" (click)="makeSwitch(user.long, user.latitude)">Editar perfil</button>
    </ion-item>
    <ion-item lines="none" class="centered-text">
      <button class="auth-btn" (click)="logOut()">Cerrar sesión</button>
    </ion-item>
  </ion-list>

  <div id="edit-form" class="register-form-container animate__animated animate__bounceIn">
    <div class="form-container">
      <form [formGroup]="registerForm" *ngIf="isEdit">

          <input type="text" formControlName="fullName" class="auth-input" [class]="isValidField('fullName')" placeholder="&#xF007; Nombre completo">
          <div *ngIf="isValidField('fullName') === 'invalid-field'">
            <p *ngIf="registerForm.get('fullName').errors?.required">Debes escribir tu nombre</p>
            <p *ngIf="registerForm.get('fullName').errors?.minlength">Debes escribir al menos 3 letras</p>
            <p *ngIf="registerForm.get('fullName').errors?.maxlength">Debes escribir menos de 50 letras</p>
          </div>

          <input type="text" formControlName="businessName" class="auth-input" [class]="isValidField('businessName')" placeholder="&#xF54E; Nombre del negocio">
          <div *ngIf="isValidField('businessName') === 'invalid-field'">
            <p *ngIf="registerForm.get('businessName').errors?.required">Debes escribir el nombre de tu negocio</p>
          </div>

          <ion-item lines="none">
            <p style="color: var(--ion-color-primary)">Hora de apertura</p>
            <input type="time" formControlName="openTime" class="auth-input" [class]="isValidField('openTime')">
          </ion-item>
          <div *ngIf="isValidField('openTime') === 'invalid-field'">
            <p *ngIf="registerForm.get('openTime').errors?.required">La hora de apertura es obligatoria</p>
          </div>
          <ion-item lines="none">
            <p style="color: var(--ion-color-primary)">Hora de cierre</p>
            <input type="time" formControlName="closeTime" class="auth-input" [class]="isValidField('closeTime')">
          </ion-item>
          <div *ngIf="isValidField('closeTime') === 'invalid-field'">
            <p *ngIf="registerForm.get('closeTime').errors?.required">La hora de cierre es obligatoria</p>
          </div>

      </form>
      <app-map></app-map>
      <ion-list class="animate__animated animate__bounceIn">
        <ion-item lines="none" class="centered-text" *ngIf="isEdit">
          <button class="auth-btn" (click)="registerUser()" [disabled]="registerForm.invalid">Guardar cambios</button>
        </ion-item>
        <ion-item lines="none" class="centered-text" *ngIf="isEdit">
          <button class="auth-btn" (click)="openChangePassword()">Cambiar contraseña</button>
        </ion-item>
        <ion-item lines="none" class="centered-text" *ngIf="isEdit">
          <button class="auth-btn" (click)="logOut()">Cerrar sesión</button>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>