<ion-tabs *ngIf="!isBusiness" #customerTabs>
  <ion-tab-bar>
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <span>Inicio</span>
    </ion-tab-button>

    <ion-tab-button tab="explore">
      <ion-icon name="eye-outline"></ion-icon>
      <span>Explorar</span>
    </ion-tab-button>

    <ion-tab-button tab="turns">
      <ion-icon name="ticket-outline"></ion-icon>
      <span>Reservas</span>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <span>Cuenta</span>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-tabs *ngIf="isBusiness" #businessTabs>
  <ion-tab-bar>
    <ion-tab-button tab="b-home">
      <ion-icon name="home-outline"></ion-icon>
      <span>Inicio</span>
    </ion-tab-button>

    <ion-tab-button tab="employees">
      <ion-icon name="person-circle-outline"></ion-icon>
      <span>Empleados</span>
    </ion-tab-button>

    <ion-tab-button tab="services">
      <ion-icon name="list-circle-outline"></ion-icon>
      <span>Servicios</span>
    </ion-tab-button>

    <ion-tab-button tab="limits">
      <ion-icon name="calendar-outline"></ion-icon>
      <span>Límites</span>
    </ion-tab-button>

    <ion-tab-button tab="b-profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <span>Cuenta</span>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
