ion-toolbar{
    padding: 20px !important;
    img{
        margin-top: 7px;
    }
    ion-searchbar{
        --background: var(--ion-color-primary-contrast); 
        color: black;
    }
}

ion-list{
    background: var(--ion-color-primary-contrast);
    ion-item{
        background: var(--ion-color-primary-contrast);
        ion-label{
            margin-left: 20px;
            .business-title{
                font-size: 20px;
            }
            .business-status{
                font-weight: bold;
            }
            .business-schedule{
                color: gray;
                font-weight: bold;
            }
        }
    }
}
ion-button{
    color: white;
}