<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="closeModal()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Cambiar contraseña</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="change-password-form-container">
        <form [formGroup]="changePasswordForm">
            <input type="password" formControlName="password" class="auth-input" [class]="matchPasswords()" [class]="isValidField('password')" (ionChange)="matchPasswords($event)"  placeholder="&#xF084; Contraseña">
            <div *ngIf="isValidField('password') === 'invalid-field'">
                <p style="color: var(--ion-color-danger);" *ngIf="changePasswordForm.get('password').errors?.required">Debes escribir la nueva contraseña</p>
                <p style="color: var(--ion-color-danger);" *ngIf="changePasswordForm.get('password').errors?.minlength">Debes escribir al menos 8 carácteres</p>
                <p style="color: var(--ion-color-danger);" *ngIf="changePasswordForm.get('password').errors?.maxlength">Debes escribir menos de 16 carácteres</p>
                <p style="color: var(--ion-color-danger);" *ngIf="changePasswordForm.get('password').errors?.pattern">La contraseña debe contener 1 letra mayúscula y al menos 1 número</p>
            </div>

            <input type="password" formControlName="confirmPassword" class="auth-input" [class]="matchPasswords()" [class]="isValidField('confirmPassword')" (ionChange)="matchPasswords($event)"  placeholder="&#xF084; Repite la contraseña">
            <div *ngIf="isValidField('confirmPassword') === 'invalid-field'">
                <p style="color: var(--ion-color-danger);" *ngIf="changePasswordForm.get('confirmPassword').errors?.required">Debes escribir la nueva contraseña</p>
                <p style="color: var(--ion-color-danger);" *ngIf="changePasswordForm.get('confirmPassword').errors?.minlength">Debes escribir al menos 8 carácteres</p>
                <p style="color: var(--ion-color-danger);" *ngIf="changePasswordForm.get('confirmPassword').errors?.maxlength">Debes escribir menos de 16 carácteres</p>
                <p style="color: var(--ion-color-danger);" *ngIf="changePasswordForm.get('confirmPassword').errors?.pattern">La contraseña debe contener 1 letra mayúscula y al menos 1 número</p>
            </div>
            <p style="color: var(--ion-color-danger);" id="passwords-not-match"></p>

            <button class="auth-btn" (click)="changePassword()">Guardar cambios</button>
        </form>
    </div>
</ion-content>