ion-content{
    --background: var(--ion-color-primary-contrast);
}

ion-segment{
    ion-segment-button{
        color: var(--ion-color-primary);
    }
}
ion-list{
    width: 100%;
    ion-item{
        color: var(--ion-color-primary);
    }
}




.employee-comments-container{
    .comment-inputs{
        width: 100%;
        text-align: center;
        padding: 0 50px;
        .auth-input{
            border-color: var(--ion-color-primary);
            width: 100%;
            color: var(--ion-color-primary);
            resize: none;
            &::placeholder{
                color: var(--ion-color-primary);
            }
            &:focus::placeholder{
                color: transparent;
            }
        }
        .send-comment-btn{
            width: 63px;
            height: 63px;
            font-size: 25px;
            margin-left: 10px;
            background: var(--ion-color-primary);
            color: var( --ion-color-primary-contrast);
            margin: 15px;
            padding: 10px;
            border-radius: 125px;
        }
    }

    .comments-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.comments-card{
    width: 90%;
    min-height: 1px;
    background-color: var(--ion-color-primary-contrast);
    color: var(--ion-color-primary);
    padding: 10px;
    margin: 20px 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px 3px gray;
    ion-card-title{
        text-align: center;
        color: var(--ion-color-primary);
    }
    .right{
        text-align: right;
    }
}