<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="closeModal()">
                <ion-icon slot="start" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{data.fullName}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-segment swipeGesture (ionChange)="setSlide($event)" [(ngModel)]="employeeDetailPage" name="employeeDetailPage" value="employeeInfo">
        <ion-segment-button value="employeeInfo">
            <ion-label>Información</ion-label>
        </ion-segment-button>
        <ion-segment-button value="employeeComments">
            <ion-label>Comentarios</ion-label>
        </ion-segment-button>
    </ion-segment>

    <ion-slides [options]="slideOpts" #slideCtrl (ionSlideDidChange)="setSegment($event)" pager="false">
        <ion-slide>
            <ion-grid *ngIf="employeeDetailPage === 'employeeInfo'">
                <ion-row>
                    <ion-col size="12">
                        <div class="rating-content">
                            <h1>Calificación actual</h1>
                            <span [ngSwitch]="dbEmployee.rating">
                            <p *ngSwitchCase="1">
                                <i class="fas fa-star"></i>
                            </p>
                            <p *ngSwitchCase="2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </p>
                            <p *ngSwitchCase="3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </p>
                            <p *ngSwitchCase="4">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </p>
                            <p *ngSwitchCase="5">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </p>
                            <p *ngSwitchDefault>
                                <span style="color: lightgray; text-shadow: none; font-size: 20px;"><em>Este empleado aún no ha sido calificado</em></span>
                            </p>
                            </span>
                        </div>
                        <div class="clients-in-turn-content">
                            <h1>Total de clientes en turno</h1>
                            <h3>{{clientsInTurnCount}}</h3>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide>
            <div *ngIf="employeeDetailPage === 'employeeComments'" class="employee-comments-container">
                <div class="comments-content">
                    <ion-slides [options]="commentsOpts" #commentsSlide class="comments-slide">
                        <ion-slide *ngFor="let comment of employeeComments">
                            <div class="comments-card">
                                <ion-card-title>{{comment.user}}</ion-card-title>
                                <ion-card-content>
                                    <p>{{comment.comment}}</p>
                                    <p class="right"><small>{{comment.commentDate}}</small></p>
                                </ion-card-content>
                            </div>
                        </ion-slide>
                    </ion-slides>
                    <ion-fab horizontal="start" style="margin-top: -55px;">
                        <ion-fab-button side="end" (click)="upComment()">
                            <ion-icon name="arrow-up"></ion-icon>
                        </ion-fab-button>
                        <ion-fab-button side="start" (click)="downComment()">
                            <ion-icon name="arrow-down"></ion-icon>
                        </ion-fab-button>
                    </ion-fab>
                </div>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>