.auth-btn{
    width: 10%;
    background: transparent;
}
ion-list{
    background: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 120px;
}