<ion-content>
  <div class="title-bar">
    <span>Empleados</span>
  </div>
  <ion-list>
    <ion-item lines="none" *ngFor="let employee of employeesList, let i = index">
      <ion-label style="text-align: center;">
        <ion-title (click)="goToEmployeeDetails(employee)">{{employee.fullName}}</ion-title>
        <div>
          <p>{{employee.employeeSpecialty}}</p>
        </div>
      </ion-label>
      <ion-button fill="clear" style="color: var(--ion-color-primary)" (click)="openUpdateEmployeeModal(employee)">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
      <ion-button fill="clear" style="color: var(--ion-color-danger)" (click)="openDeleteConfirm(employee)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" (click)="openAddEmployeeModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>