<ion-content>
    <div class="photo-container">
        <ion-grid>
          <ion-row>
            <ion-col size="5">
              <img class="profile" src="../../../../../assets/icon/Recurso12.png" height="100" *ngIf="userPhoto === undefined">
              <img [src]="userPhoto" class="profile" alt="" *ngIf="userPhoto !== undefined">
            </ion-col>
            <ion-col size="7">
              <div>
                <div>Hola, {{userName}}</div>
                <div style="font-weight: normal; color: gray;">#{{userId}}</div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
    </div>

    <div class="title-bar">
      <span>Top 3 más visitados</span>
    </div>

    <ion-list>
        <ion-item lines="none" *ngFor="let business of businessTopThreeList, let i = index">
          <ion-thumbnail>
            <img *ngIf="business.businessPhoto != ''" [src]="business.businessPhoto" />
            <img *ngIf="business.businessPhoto == '' && business.isOpened" src="./../../../../../assets/icon/Recurso14.png" alt="">
            <img *ngIf="business.businessPhoto == '' && !business.isOpened" src="./../../../../../assets/icon/Recurso22.png" alt="">
          </ion-thumbnail>
          <ion-label>
            <span (click)="goToBusinessDetails(business)" style="font-size: 15px;">
              <span class="business-title">{{business.businessName}}</span>
              <div class="business-status" style="color: var(--ion-color-success);" *ngIf="business.isOpened">Abierto</div>
              <div class="business-status" style="color: var(--ion-color-danger);" *ngIf="!business.isOpened">Cerrado</div>
              <div class="business-schedule">{{business.openTime}} a {{business.closeTime}}</div>
            </span>
          </ion-label>
          <ion-button fill="clear" style="color: var(--ion-color-warning);" (click)="searchFromExistingFavourite(business.key)">
            <ion-icon slot="icon-only" name="star"></ion-icon>
          </ion-button>
        </ion-item>
    </ion-list>
</ion-content>