<ion-content>
    <div class="photo-container">
        <img class="profile" src="../../../../assets/img/user_icon.png" height="100" *ngIf="userPhoto === undefined">
        <img [src]="userPhoto" class="profile" alt="" *ngIf="userPhoto !== undefined">
        <span>Hola, {{userName}}</span>
    </div>

    <div class="title-bar">
      <span>Los más visitados</span>
    </div>

    <ion-list>
        <ion-item lines="none" *ngFor="let business of businessTopThreeList, let i = index">
          <ion-thumbnail>
            <img *ngIf="business.businessPhoto != ''" [src]="business.businessPhoto" />
            <img *ngIf="business.businessPhoto == ''" src="./../../../../../assets/img/business-default.png" alt="">
          </ion-thumbnail>
          <ion-label>
            <span (click)="goToBusinessDetails(business)" style="font-size: 15px;">
              <span class="business-title">{{business.businessName}}</span>
              <div class="business-status" style="color: var(--ion-color-success);" *ngIf="business.isOpened">Abierto</div>
              <div class="business-status" style="color: var(--ion-color-danger);" *ngIf="!business.isOpened">Cerrado</div>
              <div class="business-schedule">10pm a 3am</div>
            </span>
          </ion-label>
          <ion-button fill="clear" style="color: var(--ion-color-warning);" (click)="searchFromExistingFavourite(business.key)">
            <ion-icon slot="icon-only" name="star"></ion-icon>
          </ion-button>
        </ion-item>
    </ion-list>
</ion-content>