.login-form-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .form-container{
        text-align: center;
        margin: 0 10px;
    }
}

.aditional-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    a{
        color: white;
        text-decoration: none;
    }
}