<ion-content color="primary">
  <ion-grid>
    <ion-row>
      <ion-col size="4" style="position: relative; z-index: 1;">
        <ion-button class="back-button" (click)="goToPage('/login')">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" style="text-align: center; margin-top: 20px;">
        <img src="../../../../assets/img/logo-login.png">
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="login-form-container animate__animated animate__bounceIn">
    <div class="title">
      <h1 style="font-size: 30px; font-weight: bold;">Cambiar contraseña</h1>
    </div>
    <div class="form-container">
      <form>
        <input type="text" [(ngModel)]="email" name="email" class="auth-input" placeholder="&#xF0E0; Correo electrónico">  
        <button class="auth-btn" (click)="sendEmailToChangePassword()">Enviar correo de solicitud</button>
      </form>
    </div>
  </div>
  <div class="aditional-footer">
    <ion-fab vertical="end" horizontal="start">
      <a [routerLink]="['register-types']">Registrarme</a>
    </ion-fab>
    <ion-fab vertical="end" horizontal="end">
      <a [routerLink]="['/register-types']">Registrarme</a>
    </ion-fab>
  </div>
</ion-content>