<ion-header>
  <ion-toolbar color="primary"> 
    <img width="60%" src="../../../../../assets/img/logo-login.png" alt="logo">
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="title-bar">
      <span>Cuenta</span>
    </div>
    <ion-list>
      <ion-item lines="none" class="ion-activatable ripple-parent" (click)="goToPage('favourites')">
          <div>
              <ion-icon name="heart"></ion-icon> &nbsp;
              <span>Favoritos</span>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
      <ion-item lines="none" class="ion-activatable ripple-parent" (click)="goToPage('help')">
        <div>
          <ion-icon name="help-buoy"></ion-icon> &nbsp;
          <span>Ayuda</span>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-item>
      <ion-item lines="none" class="ion-activatable ripple-parent" (click)="goToPage('edit-account')">
        <div>
            <ion-icon name="settings"></ion-icon> &nbsp;
            <span>Configuración</span>
        </div>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
    </ion-list>
  </ion-content>