.photo-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
    .profile{
        width: 200px;
        height: 200px;
        border-top-left-radius: 50% 50%;
        border-top-right-radius: 50% 50%;
        border-bottom-right-radius: 50% 50%;
        border-bottom-left-radius: 50% 50%;
    }
}

.register-form-container{
    height: 60%;
    width: 100%;
    .form-container{
        text-align: center;
        margin: 0 10px;
    }
}