<ion-content style="background: var(--ion-color-primary-contrast);">
    <ion-grid *ngIf="!isCharging">
      <ion-row>
        <ion-col size="12">
          <label style="width: 100%; height: 100%; margin-top: 30px; color: var(--ion-color-primary)" fill="clear">
            <ion-icon slot="start" name="image-outline"></ion-icon>
            <input type="file" name="uploadImage" accept="image/*" (change)="uploadImage($event)" style="display: none;">
             Cambiar foto de perfil
          </label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8" offset="2">
          <ion-button color="danger" expand="block" fill="clear" (click)="utilityService.closePopover()">Cancelar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list style="background: white;" *ngIf="isCharging">
      <div class="loading-title">
        <ion-label>Cargando foto, por favor espera...</ion-label>
      </div>
      <ion-item lines="none">
        <ion-progress-bar *ngIf="isCharging" color="primary" [value]="percentage"></ion-progress-bar>
      </ion-item>
    </ion-list>
  </ion-content>