<ion-content color="tertiary">
    <ion-list style="background: white;">
      <ion-item lines="none">
        <label style="width: 100%; height: 100%; margin-top: 30px; margin-left: 25px; color: var(--ion-color-primary)" fill="clear">
          <ion-icon slot="start" name="image-outline"></ion-icon>
          <input type="file" name="uploadImage" accept="image/*" (change)="uploadImage($event)" style="display: none;">
           Subir desde galería
        </label>
      </ion-item>
    </ion-list>
  </ion-content>