<ion-content>
    <ion-slides pager="true" #slideCtrl [options]="slideOpts" pager="false" >
        <ion-slide>
          <div class="slide-img" style="background: url(../../../../../assets/img/main/pexels-thgusstavo-santana-1813346.jpg);    
            background-position: center;
            background-size: 100% 100%;"></div>
        </ion-slide>
        <ion-slide>
            <div class="slide-img" style="background: url(../../../../../assets/img/main/spa_cr_new_africa_for_shutterstock.jpg);
            background-position: center;
            background-size: 100% 100%;"></div>
        </ion-slide>
        <ion-slide>
            <div class="slide-img" style="background: url(../../../../../assets/img/main/store-984393_1920.jpg);
            background-position: center;
            background-size: 100% 100%;"></div>
        </ion-slide>
        <ion-slide>
            <div class="slide-img" style="background: url(../../../../../assets/img/main/people-2561845_1920.jpg);
            background-position: center;
            background-size: 100% 100%;"></div>
        </ion-slide>
    </ion-slides>
    <div class="text-content">
        <div class="initial-message">
            <h1>Todo lo que necesitas en un solo lugar</h1>
        </div>
        <button class="auth-btn" type="button" (click)="checkCredentials()">Ingresar</button>
    </div>
</ion-content>