/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

 .auth-btn{ 
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(72,77,109,1) 0%, rgba(87,167,115,1) 100%);
    border-style: none;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    height: 40px;
    font-size: 20px;
    margin-bottom: 20px;
 }

 .auth-input{
   width: 90%;
   margin: 15px 0;
   border-style: none;
   background-color: transparent;
   outline: none;
   border-bottom-style: solid;
   border-bottom-color: var(--ion-color-primary-contrast);
   font-size: 20px;
   text-align: center;
   font-family: arial, fontawesome;

   &::placeholder{
      color: var(--ion-color-primary-constrast);
   }
 }

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
