/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
 .auth-btn{ 
    background: var(--ion-color-secondary);
    border-style: none;
    border-radius: 30px;
    padding: 10px;
    width: 70%;
    height: 40px;
    font-size: 20px;
    margin: 10px 0;
 }

 .auth-input{
   width: 100%;
   margin: 15px 0;
   border-style: none;
   background-color: transparent;
   outline: none;
   border-style: solid;
   padding: 10px;
   border-color: var(--ion-color-primary-contrast);
   font-size: 20px;
   text-align: center;
   font-family: arial, fontawesome;
   transition: 1s ease-in-out;

   &::placeholder{
      color: var(--ion-color-primary-constrast);
   }
 }

 .back-button{
  --background: transparent !important;
  --box-shadow: none;
 }

 .valid-field{
   border-color: var(--ion-color-success);
 }

 .invalid-field{
    border-color: red;
 }

 .error-toast{
  --background: var(--ion-color-danger);
   color: var(--ion-color-primary-constrast);
 }

 .success-toast{
   --background: var(--ion-color-success);
   color: var(--ion-color-primary-constrast);
 }

 .custom-loading{
   --background: var(--ion-color-primary-contrast);
   color: var(--ion-color-primary);
 }
 .custom-info-alert{
  --background: var(--ion-color-primary-contrast);
  color: var(--ion-color-primary);

  .alert-title{
    color: var(--ion-color-primary);
    text-align: center;
  }
  .alert-message{
    color: black;
    text-align: center;
  }
}

.custom-modal{
  margin-top: 128px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.modal-header{
  --background: white;
  color: var(--ion-color-primary);
}

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
