ion-content{
    --background: var(--ion-color-primary-contrast);
}

ion-segment{
    ion-segment-button{
        color: var(--ion-color-primary);
    }
}
ion-slides{
    height: 100%;
}

.rating-content{
    h1{
        color: var(--ion-color-primary);
    }
    width: 100%;
    min-height: 1px;
    color: var(--ion-color-primary);
    font-size: 30px;
    text-align: center;
}

.clients-in-turn-content{
    width: 100%;
    min-height: 1px;
    color: var(--ion-color-primary);
    text-align: center;
    font-size: 65px;
}

.reserve-turn{
    width: 100%;
    text-align: center;

    h1{
        font-size: 25px;
        color: var(--ion-color-primary);
    }

    .auth-btn{
        background: var(--ion-color-primary);
    }
    .cancel-btn{
        font-size: 15px;
        background: gray;
    }

    ion-item{
        --background: var(--ion-color-primary-contrast);
        color: var(--ion-color-primary);
    }
}

.employee-comments-container{
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    .comment-inputs{
        width: 100%;
        text-align: center;
        padding: 0 50px;
        .auth-input{
            border-color: var(--ion-color-primary);
            width: 100%;
            color: var(--ion-color-primary);
            resize: none;
            &::placeholder{
                color: var(--ion-color-primary);
            }
            &:focus::placeholder{
                color: transparent;
            }
        }
        .send-comment-btn{
            width: 63px;
            height: 63px;
            font-size: 25px;
            margin-left: 10px;
            background: var(--ion-color-primary);
            color: var( --ion-color-primary-contrast);
            margin: 15px;
            padding: 10px;
            border-radius: 125px;
        }
    }
    
    .comments-content{
        height: 100%;
        background: #c7c7c7;
        border-top-style: solid;
        border-top-color: var(--ion-color-primary);
    }
}

ion-card{
    color: var(--ion-color-primary);
    padding: 10px;
    ion-card-title{
        text-align: center;
        color: var(--ion-color-primary);
    }
    p{
        font-size: 20px;
    }
    .right{
        text-align: right;
    }
}