<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="closeModal()">
                <ion-icon slot="start" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{data.fullName}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-segment swipeGesture (ionChange)="setSlide($event)" [(ngModel)]="employeeDetailPage" value="employeeInfo">
        <ion-segment-button value="employeeInfo">
            <ion-label>Información</ion-label>
        </ion-segment-button>
        <ion-segment-button value="employeeComments">
            <ion-label>Comentarios</ion-label>
        </ion-segment-button>
    </ion-segment>
    
    <ion-slides [options]="slideOpts" #slideCtrl (ionSlideDidChange)="setSegment($event)" pager="false">
        <ion-slide>
            <ion-list>
                <ion-item lines="none">
                    <ion-label><b>Especialidad:</b> {{dbEmployee.employeeSpecialty}}</ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-label><b>Calificación actual: </b>
                        <span [ngSwitch]="dbEmployee.rating">
                            <span *ngSwitchCase="1">
                                <i class="fas fa-star"></i>
                            </span>
                            <span *ngSwitchCase="2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                            <span *ngSwitchCase="3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                            <span *ngSwitchCase="4">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                            <span *ngSwitchCase="5">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                            <span *ngSwitchDefault>
                                <span style="color: gray; text-shadow: none;"><em>No calificado</em></span>
                            </span>
                        </span>    
                    </ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-label><b>Calificar:</b>
                        <span id="stars-content">
                            <i class="far fa-star" (click)="rateEmployee(1)"></i>
                            <i class="far fa-star" (click)="rateEmployee(2)"></i>
                            <i class="far fa-star" (click)="rateEmployee(3)"></i>
                            <i class="far fa-star" (click)="rateEmployee(4)"></i>
                            <i class="far fa-star" (click)="rateEmployee(5)"></i>
                        </span>
                        <div class="rating-content"></div>
                    </ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-label>
                        <b>Total de clientes en turno:</b> {{dbEmployee.clientsInTurn}}
                    </ion-label>
                </ion-item>
                <ion-item lines="none">
                    <div class="reserve-turn">
                        <h3>Reservar turno</h3>
                        <form>
                            <ion-item>
                                <ion-label>Fecha de reserva</ion-label>
                                <ion-datetime display-format="DD/MM/YYYY" 
                                [(ngModel)]="reserveDate" name="reserveDate"
                                doneText="Aceptar" 
                                cancelText="Cancelar"></ion-datetime>
                            </ion-item>
                        </form>
                        <button class="auth-btn" (click)="reserveTurn(clientPhoto, dbEmployee.clientsInTurn)" *ngIf="!isInTurn">
                            Reservar
                        </button>
                        <button class="auth-btn cancel-btn" (click)="searchClientEmployeeTurn()" *ngIf="isInTurn">
                            Cancelar reserva anterior
                        </button>
                    </div>
                </ion-item>
            </ion-list>
        </ion-slide>
        <ion-slide>
            <div *ngIf="employeeDetailPage === 'employeeComments'" class="employee-comments-container">
                <ion-item lines="full">
                    <div class="comment-inputs">
                        <form>
                            <ion-grid>
                                <ion-row>
                                    <ion-col size="9">
                                        <textarea type="text" class="auth-input" [(ngModel)]="comment" name="comment" placeholder="Escribe un comentario"></textarea>
                                    </ion-col>
                                    <ion-col size="3">
                                        <button class="send-comment-btn" (click)="doComment()">
                                            <ion-icon slot="center" name="paper-plane-outline"></ion-icon>
                                        </button>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </form>
                    </div>
                </ion-item>
                <ion-list class="comments-container">
                    <ion-item lines="none" *ngFor="let comment of employeeComments">
                        <div class="comments-card">
                            <ion-card-title>{{comment.user}}</ion-card-title>
                            <div style="word-break: break-all;">
                                <p>{{comment.comment}}</p>
                                <p class="right"><small>{{comment.commentDate}}</small></p>
                            </div>
                        </div>
                    </ion-item>
                </ion-list>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>