<app-header></app-header>

<ion-content color="primary">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-searchbar placeholder="Buscar negocio"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list color="primary">
    <ion-item color="primary" lines="none">
      <ion-thumbnail>
        <img src="https://www.eastbayri.com/uploads/original/20200709-105919-roots%20barber%20shop-10.jpg" />
      </ion-thumbnail>
      <ion-label>
        <ion-title>Nombre de la barbería</ion-title>
        <p>&nbsp; &nbsp; &nbsp; Clientes en cola: 4</p>
      </ion-label>
    </ion-item>
    <hr style="background-color: white;">
    <ion-item color="primary" lines="none">
      <ion-thumbnail>
        <img src="https://www.eastbayri.com/uploads/original/20200709-105919-roots%20barber%20shop-10.jpg" />
      </ion-thumbnail>
      <ion-label>
        <ion-title>Nombre de la barbería</ion-title>
        <p>&nbsp; &nbsp; &nbsp; Clientes en cola: 4</p>
      </ion-label>
    </ion-item>
    <hr style="background-color: white;">
    <ion-item color="primary" lines="none">
      <ion-thumbnail>
        <img src="https://www.eastbayri.com/uploads/original/20200709-105919-roots%20barber%20shop-10.jpg" />
      </ion-thumbnail>
      <ion-label>
        <ion-title>Nombre de la barbería</ion-title>
        <p>&nbsp; &nbsp; &nbsp; Clientes en cola: 4</p>
      </ion-label>
    </ion-item>
    <hr style="background-color: white;">
    <ion-item color="primary" lines="none">
      <ion-thumbnail>
        <img src="https://www.eastbayri.com/uploads/original/20200709-105919-roots%20barber%20shop-10.jpg" />
      </ion-thumbnail>
      <ion-label>
        <ion-title>Nombre de la barbería</ion-title>
        <p>&nbsp; &nbsp; &nbsp; Clientes en cola: 4</p>
      </ion-label>
    </ion-item>
    <hr style="background-color: white;">
  </ion-list>
</ion-content>
