<ion-content color="primary">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-searchbar placeholder="Buscar negocio"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list color="primary">
    <ion-item color="primary" lines="none" *ngFor="let business of businessList, let i = index" (click)="goToBusinessDetails(business, clientsInTurnCount)">
      <ion-thumbnail>
        <img *ngIf="business.businessPhoto != ''" src="https://www.eastbayri.com/uploads/original/20200709-105919-roots%20barber%20shop-10.jpg" />
        <img *ngIf="business.businessPhoto == ''" src="./../../../../../assets/img/business-default.png" alt="">
      </ion-thumbnail>
      <ion-label>
        <ion-title>{{business.businessName}}</ion-title>
        <div>&nbsp; &nbsp; &nbsp; Clientes en turno: {{clientsInTurnCount}}</div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
